  <link rel="stylesheet" href="styles/dark.css">
  <script src="highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

<img src="logo.jpg" width="30px" height="30px">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="wrapper">

        <nav role="dropdown">
         <ul id="menu">

          
          <li><a href="#/" data-title="Home">Todos los botones</a></li>

          <a href="#/css" data-title="Home">Css</a>

          <li> <a href="#/bootstrapt" data-title="Home">Bootstrap</a></li>

          <li><a href="#/dom" data-title="Home">DOM</a></li>

          <li><a href="#/jquery" data-title="Home">Jquery</a></li>

          <li> <a href="#/js" data-title="Home">JS</a></li>

          <li><a href="#/basics" data-title="Home">Basics</a></li>

          <li class="active"><a href="#/">Home</a></li>

        </ul>

      </nav>
    </div>

  </div>


</div>

</div>





