<div id="wrapper">

<nav role="dropdown">
 <ul id="menu">

   
  		
  		<input type="checkbox" id="show-menu" role="button">

        <li><a href="#/" data-title="Home">Todos los botones</a></li>
  		
        <a href="#/css" data-title="Home">Css</a>

  	
       <li> <a href="#/bootstrapt" data-title="Home">Bootstrap</a></li>

  		
        <li><a href="#/dom" data-title="Home">DOM</a></li>

  		
        <li><a href="#/jquery" data-title="Home">Jquery</a></li>

       
       <li> <a href="#/js" data-title="Home">JS</a></li>

        
        <li><a href="#/basics" data-title="Home">Basics</a></li>

        <li class="active"><a href="#/"_blank">Home</a></li>

  </ul>
    
</nav>
</div>




  
    
