
  
  <a href="#/">
    <img src="img/logo.png" class="img-responsive logo center-block">
    <img src="img/claim.png" class="img-responsive center-block claim">
    <img src="img/cc.png" class=" creative img-responsive pull-right ">
  </a>

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <ul class="nav">
          <li><a href="#/">Home</a></li>
          <li><a href="#/" data-title="Home">Todos los botones</a></li>
          <li><a href="#/jquery" data-title="Home">Jquery</a></li>
          <li><a href="#/js" data-title="Home">JS</a></li>
          <li><a href="#/basics" data-title="Home">Básicos</a></li>
          <li><a href="#/avanzados" data-title="Home" class>Avanzados</a></li>
        </ul>
        
      </div>




    </div>

  </div>

  






