 <section ng-controller="alert">
 	<div ng-repeat ="button in btn | filter: {name: nombre}">
<div hljs>

 	<pre><code class="javascript">

	function saludar(){
	alert("Hola a todos.")
	}

	</code></pre>

</div>
 	<pre><code class="HTML">

 		<XMP>
 			<button onclick="saludar()">Haz clic</button> 

 		</XMP>

 	</code></pre>

 	<pre ><code class="CSS">

 		


 	</code></pre>


 </div>

</section>

<button onclick="saludar()">Haz clic</button> 

<script>
//Realiza una página que muestre el mensaje “Hola a todos” en una ventana haciendo una llamada a una función JavaScript. Utilizar la función Alert()
function saludar(){
	alert("Hola a todos.")
}
</script>

<link rel="stylesheet" href="styles/dark.css">
	<script src="highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>