<hheader></hheader>
<section ng-controller="carga">
  <div ng-repeat ="button in btn | filter: {name: nombre}">

   <div hljs data-trim contenteditable>

     <script>
       function crono() {
        this.numid=0;
        this.empieza=function () {    
          this.numid=setInterval(function () {document.getElementById("m").value=document.getElementById("m").value+1;},1000); 
        }
        this.fin=function () {clearInterval(this.numid);}
      }
      window.onload=function () {
        var c = new crono();
        document.getElementById("empieza").onclick=function () {
          c.empieza();  
        }
        document.getElementById("fin").onclick=function () {
          c.fin();
        }
      }
    </script>
  </div>
  <div hljs data-trim contenteditable>

   <button id="empieza">Start</button>
   <button id="fin">Stop</button>
   <meter id="m" value="0" max="50"></meter> 

 </div>



</div>


<button id="empieza">Start</button>
<button id="fin">Stop</button>
<meter id="m" value="0" max="50"></meter>

<script>
 function crono() {
  this.numid=0;
  this.empieza=function () {    
    this.numid=setInterval(function () {document.getElementById("m").value=document.getElementById("m").value+1;},1000); 
  }
  this.fin=function () {clearInterval(this.numid);}
}
window.onload=function () {
  var c = new crono();
  document.getElementById("empieza").onclick=function () {
    c.empieza();  
  }
  document.getElementById("fin").onclick=function () {
    c.fin();
  }
}
</script>

<link rel="stylesheet" href="styles/dark.css">

