<hheader></hheader>
<link rel="stylesheet" href="styles/dark.css">
<section ng-controller="dado">
    <div ng-repeat ="button in btn | filter: {name: nombre}">

        <div hljs data-trim contenteditable>

            <button>go</button>
            <h1></h1>

        </div>

        <div hljs data-trim contenteditable>
            <script type="text/javascript">

             var num1 = [
             "1",
             "2",
             "3",
             "4",
             "5",
             "6"
             ];

             var num2 = ["1",
             "2",
             "3",
             "4",
             "5",
             "6"];

             $("button").click(function() {
              var randomnoun = num1[Math.floor(Math.random()*num1.length)];
              var randomadj = num2[Math.floor(Math.random()*num2.length)];
              $('h1').html(randomadj + "        " + randomnoun);
          });   

      </script>

  </div>  

  <div hljs data-trim contenteditable>
   <style type="text/css">

     body {

        font-family: 'Roboto Condensed', sans-serif;
        
       

    }

    h1 {
        font-size: 36px;
        background: #1c277d;
        color: whitesmoke;

    }

    button {
      background: #19bf3a;
      background-image: -webkit-linear-gradient(top, #19bf3a, #128230);
      background-image: -moz-linear-gradient(top, #19bf3a, #128230);
      background-image: -ms-linear-gradient(top, #19bf3a, #128230);
      background-image: -o-linear-gradient(top, #19bf3a, #128230);
      background-image: linear-gradient(to bottom, #19bf3a, #128230);
      -webkit-border-radius: 11;
      -moz-border-radius: 11;
      border-radius: 11px;
      font-family: Courier New;
      color: #ffffff;
      font-size: 20px;
      padding: 16px 16px 21px 16px;
      text-decoration: none;
  }

  button {
      background: #065906;
      text-decoration: none;
  }

</style>
</div>

</div>


</section>



<div class="borde">
 <button>Tirar dado</button>
 <h1></h1>

<div id="resultado">
	
</div>

</div>




<script type="text/javascript">

    var num1 = [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6"
    ];

    var num2 = ["1",
    "2",
    "3",
    "4",
    "5",
    "6"];

    $("button").click(function() {
      var randomUno = num1[Math.floor(Math.random()*num1.length)];
      
      $('h1').html(randomUno);
  });

</script>

<style type="text/css">

 body {

    font-family: 'Roboto Condensed', sans-serif;


}

h1 {
    font-size: 36px;
    background: #1c277d;
    color: whitesmoke;

}

button {
  background: #19bf3a;
  background-image: -webkit-linear-gradient(top, #19bf3a, #128230);
  background-image: -moz-linear-gradient(top, #19bf3a, #128230);
  background-image: -ms-linear-gradient(top, #19bf3a, #128230);
  background-image: -o-linear-gradient(top, #19bf3a, #128230);
  background-image: linear-gradient(to bottom, #19bf3a, #128230);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 16px 21px 16px;
  text-decoration: none;
}

button {
  background: #065906;
  text-decoration: none;
}

.borde {
    border: dashed;
    padding-bottom: 20px;
    text-align: center;
}

</style>
